/*
 * News content-type styles
 */

.ds-2col
  position: relative
  .group-left
    top: -3px
    width: auto
    position: absolute
    text-align: center
    time
      > div
        text-transform: lowercase
        line-height: 15px
      div:nth-child(1)
        font-size: 10px
      div:nth-child(2)
        font-size: 36px
        line-height: 0.8em
      div:nth-child(3)
        font-size: 10px

  .group-right
    float: none
    width: auto
    margin-left: 55px
    margin-bottom: 30px
    padding-bottom: 45px
    border-bottom: 1px solid #aeb8c5
    box-shadow: 0 1px 0px white