/**
 * Estilos aplicaveis a diversos elementos
 */

// Desenvolvimento

.not-implemented
  display: none !important
  visibility: hidden !important

// Estrutura 

.to-right
  float: right !important

.to-left
  float: left !important

// Visualização

.hidden
  display: none !important
  visibility: hidden !important

.clear
  display: block
  clear: both

.relative
  position: relative

// Texto

.text-to-center
  text-align: center

.text-to-right
  text-align: right

.text-to-left
  text-align: left

.text-justify
  text-align: justify

// Decorativo

.light
  color: #46647e
  background-color: #e9f0f8
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)

.darken
  background-color: rgba(0, 0, 0, 0.03)

.shadowed
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)

.inner-shadowed
  box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4)

div.lens-flare
  position: absolute
  z-index: -1
  top: -175px
  left: -175px
  height: 550px
  width: 550px
  background: url(../images/layout/lens-flare-dark.png) no-repeat

div.ornamented
  position: absolute
  height: 147px
  width: 181px
  background-repeat: no-repeat
  &.left-bottom
    left: 0
    bottom: 0
    background-image: url(../images/layout/box-ornament-left-bottom.png)
  &.right-bottom
    right: 0
    bottom: 0
    background-image: url(../images/layout/box-ornament-right-bottom.png)
  &.right-top
    right: 0
    top: 0
    background-image: url(../images/layout/box-ornament-right-top.png)
  &.left-top
    left: 0
    top: 0
    background-image: url(../images/layout/box-ornament-left-top.png)
  &.right-top
    background-image: url(../images/layout/box-ornament-right-top-dark.png)
