/*
 * Estilo de janela de sobreposição
 */

#cover
  display: none
  position: fixed
  top: 0
  bottom: 0
  height: 100%
  width: 100%
  background: url("../images/layout/cover-bg.png") repeat

body.cover
  overflow: hidden
  #wrapper
    overflow: hidden
  #cover
    display: block

#cover-wrapper
  position: fixed
  height: 100%
  width: 100%
  overflow-y: scroll
  div.pop-up
    position: relative
    margin: 125px auto
    box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.5)
    background-color: #d8e5f9
    &.small
      width: 300px
    &.medium
      width: 500px
    &.big
      width: 800px
    &.huge
      margin: 120px 20px
    >
      div.header, form > div.header
        position: relative
        padding: 1em 1em
        margin-bottom: 0.5em
        font-size: 20px
        color: #e9f0f8
        background-color: #14213a
    div.header
      h2
        line-height: 1em
        font-weight: normal
        font-family: Georgia, "Times New Roman", Times, serif
        font-weight: normal
      a
        position: absolute
        display: block
        top: 0
        right: 0
        height: 60px
        width: 60px
        color: #e9f0f8
        font-family: Arial, Helvetica, sans-serif
        font-weight: bold
        font-size: 20px
        line-height: 60px
        text-align: center
        &:hover, &:focus
          background-color: #070f1e
          color: white
          cursor: pointer
    >
      div.body!, form! > div.body
