/*
 * Estilo de elementos genéricos
 */

a
  color: #AFC1DE
  -webkit-transition: all 200ms linear
  &:hover, &:focus
    text-decoration: underline
  *
    -webkit-transition: all 200ms linear

.light a
  color: #454953

h1
  font-size: 22px

h2
  font-size: 20px

h3
  font-size: 18px

h4
  font-size: 16px

h5
  font-size: 14px

h6
  font-size: 12px

h1, h2, h3, h4, h5, h6
  margin: 0.6em 0.8em 0.6em 0
  font-weight: normal
  font-family: Georgia, "Times New Roman", Times, serif
  color: #6297B5

.light
  h2, h3, h4, h5
    color: #5f6770
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)

h1.ornamented, h2.ornamented
  height: 90px
  padding-top: 5px
  margin-right: 0
  font-family: Georgia, "Times New Roman", Times, serif
  font-weight: normal
  text-align: center
  font-size: 30px
  color: #6297b5
  background-image: url(../images/pages/about-us/h2-ornament.png)
  background-repeat: no-repeat
  background-position: bottom

h1
  margin: 0
  line-height: 1em
  font-size: 30px
  color: #6297B5
  text-align: left

p
  font-size: 1.2em
  line-height: 1.5em
  text-align: justify
  text-indent: 40px
  margin-bottom: 20px

hr
  margin: 60px 0
  height: 1px
  clear: both
  border: 0
  border-bottom: 1px solid #2d384b
  background-color: #0b111c

div.light hr
  margin: 40px 0
  border-bottom: 1px solid white
  background: none
  background-color: #aeb8c5

small
  font-size: 0.8em

big
  font-size: 1.2em

div.image
  position: relative
  display: inline-block
  div.description
    position: absolute
    display: inline-block
    bottom: -10px
    left: 15px
    background-color: #476581
    color: #e7eef8
    h1, h2, h3, h4, h5
      margin-left: 0.8em
      color: #e5eff9

img.thumbnail
  width: 90px

div.row.light
  background: #e9f0f8 url(../images/layout/lens-flare-light.png) no-repeat

blockquote
  position: relative
  font-family: Georgia, "Times New Roman", Times, serif
  font-weight: normal
  font-size: 1.8em
  font-style: italic
  line-height: 1.5em
  color: #aeb8c5
  &.right
    text-align: right
  &.top
    padding-top: 0px

.light blockquote
  color: #466480
  text-shadow: none

blockquote div.content
  position: relative
  padding: 30px 36px
  span.quote-mark
    position: absolute
    width: 36px
    height: 30px
    &.start
      top: 0
      left: 0
      background-image: url(../images/layout/quote-start-light.png)

.light blockquote div.content span.quote-mark.start
  background-image: url(../images/layout/quote-start-dark.png)

blockquote
  &.right div.content span.quote-mark.start
    left: auto
    margin-left: -36px
  &.top div.content span.quote-mark.start
    top: -30px
  div.content span.quote-mark.end
    margin-left: 10px
    bottom: 15px
    background-image: url(../images/layout/quote-end-light.png)

.light blockquote div.content span.quote-mark.end
  background-image: url(../images/layout/quote-end-dark.png)

blockquote span.author
  display: block
  margin: 0 36px
  font-style: normal
  font-size: 0.9em

.item
  margin: 15px 0 30px
  padding-left: 12px
  border-left: 4px solid #c5c8ce
  border-left: 4px solid rgba(255, 255, 255, 0.75)
  font-size: 1.2em
  color: #bec5cd
  text-shadow: none
  &:hover
    color: white
    border-color: white
    cursor: pointer
  h4
    height: 30px
    margin-bottom: 0
    overflow: hidden
    line-height: 1em
    font-size: 1em
    font-family: Arial, Helvetica, sans-serif
    color: #eeeeee
    text-shadow: none
  &:hover h4
    text-decoration: underline
  em
    font-size: 0.8em

div.light .item
  border-left: 4px solid #74777e
  border-left: 4px solid rgba(69, 73, 83, 0.6)
  color: #9ca6b4
  &:hover
    color: #5F6770
    border-color: #454953
    cursor: pointer
  h4
    color: #5F6770
  &:hover h4
    color: #454953

a.back-icon
  display: block
  position: absolute
  left: 16px
  height: 32px
  width: 32px
  opacity: 0.3
  cursor: pointer
  background: url(../images/iconset/back-arrow.png)
  &:hover
    opacity: 1

.has-popup
  position: relative
  div.popup
    opacity: 0
    position: absolute
    top: 80%
    z-index: -1
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
    -webkit-transition: opacity 150ms linear
  &:hover div.popup
    opacity: 1
    z-index: 100
  div.popup > div
    position: relative
    padding: 10px 10px 15px
    border: 1px solid #cccccc
    font-size: 12px
    text-align: left
    color: #747474
    background-color: #f9f9f9
    h4
      margin: 0 0 0.7em
      font-size: 14px
      text-align: left
      font-weight: bold
      font-family: Arial, Helvetica, sans-serif
    a
      color: #747474
      font-style: italic
      &:hover, &:focus
        color: #333333
    div.info
      margin-bottom: 0.3em
      div.info
        margin-left: 1em
    > div.arrow
      position: absolute
      width: 16px
      height: 13px
      background: url(../images/iconset/modal-arrow-top.png) no-repeat
      &.top
        top: -13px
        left: 50%
        margin-left: -8px
      &.bottom
        bottom: -13px
        left: 50%
        margin-left: -8px
        -webkit-transform: rotate(180deg)
        -moz-transform: rotate(180deg)
        -ms-transform: rotate(180deg)
      &.left
        top: 50%
        left: -14px
        margin-top: -8px
        -webkit-transform: rotate(-90deg)
        -moz-transform: rotate(-90deg)
        -ms-transform: rotate(-90deg)
      &.right
        top: 50%
        right: -14px
        margin-top: -8px
        -webkit-transform: rotate(90deg)
        -moz-transform: rotate(90deg)
        -ms-transform: rotate(90deg)
