/*
 * Estilos de elementos de captação de dados
 */

div.info
  position: relative

label
  display: block
  color: #1d3768
  font-size: 14px

div
  &.required label
    font-weight: bold
  &.info.alert label
    color: #D20000
  &.input-container
    float: none
    padding: 9px
    margin: 5px 0 10px
    border: 1px solid #bababa
    background-color: white
    cursor: text
    color: #1d3768
  &.info.alert div.input-container
    border-color: #D20000
  &.input-container.focus
    border-color: #1d3768

input[type=text], textarea
  padding: 0
  margin: 0
  background-color: white
  border: none
  color: #1d3768
  font-size: 14px
  font-family: Arial, Helvetica, sans-serif

div.info.alert
  input[type=text], textarea
    color: #D20000

input[type=text]:disabled, textarea:disabled
  background-color: #eeeeee

div.input-container > div >
  input, textarea
    width: 100%

button, input[type=button], a.button
  margin: 0
  padding: 0.5em 1em 0.5em
  border: none
  color: #e9f0f8
  background-color: #6297B5

button
  &:focus, &:hover
    cursor: pointer
    color: white
    // box-shadow: 0 0 0.5em -0.1em #14213a;

input[type=button]
  &:focus, &:hover
    cursor: pointer
    color: white
    // box-shadow: 0 0 0.5em -0.1em #14213a;

a.button
  &:focus, &:hover
    cursor: pointer
    color: white
    // box-shadow: 0 0 0.5em -0.1em #14213a;

button
  &[disabled], &.disabled
    background-color: rgba(0, 0, 0, 0.5) !important
  > img
    float: left
    margin-left: -0.5em
    margin-right: 0.5em
    opacity: 0.7
  &:hover > img
    opacity: 1
  &.on > img, &.off > img
    &.off
      display: none
    &.on
      display: block
  &.full-width
    width: 100%

div
  &.select-box
    position: relative
    font-size: 14px
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    > div.input-container span.arrow
      position: absolute
      right: 10px
      display: inline-block
      color: #cccccc
    &:hover > div.input-container span.arrow, &.focus > div.input-container span.arrow
      color: #999999
    > select
      position: absolute
      top: 0
      left: 0
      margin: 0
      padding: 0
      height: 100%
      width: 100%
      opacity: 0
      font-size: 14px
  &.sugest-box
    position: relative
    text-shadow: none
    div
      &.input-container
        margin-bottom: 0
      &.sugestions
        display: none
        width: 100%
        position: absolute
        z-index: 10
        > div
          max-height: 130px
          overflow-y: scroll
          overflow-x: hidden
          border: 2px solid #bababa
          border-top: none
          background-color: white
        a
          display: block
          padding: 9px
          color: #666666
          &:hover, &:focus
            background-color: #14213A
            color: #ffffff
            cursor: pointer
        > div > div
          display: block
          padding: 9px
          color: #666666
        > div > div
          &:hover, &.focus
            background-color: #14213A
            color: #ffffff
            cursor: pointer
  &.alert-box
    display: none
    position: absolute
    top: 25px
    right: -245px
    width: 240px
    z-index: 100
    &.right
      right: -245px
    &.left
      left: -245px
  &.info.alert.focus div.alert-box
    display: block
  &.alert-box
    > div
      position: relative
      padding: 20px 20px 20px 45px
      border: 1px solid #d20000
      box-shadow: -10px 10px 30px -15px rgba(0, 0, 0, 0.5)
      font-size: 14px
      color: #D20000
      background: #f9f9f9 url(../images/layout/alert.png) no-repeat 10px 18px
      > div.arrow
        position: absolute
        width: 15px
        height: 15px
    &.right > div > div.arrow
      left: -14px
      background: url(../images/layout/alert-arrow-left.png) no-repeat
    &.left > div > div.arrow
      right: -15px
      background: url(../images/layout/alert-arrow-right.png) no-repeat
