/*
 * Estilo de layout permanente
 */

html
  height: 100%

body
  height: 100%
  padding: 0
  margin: 0
  line-height: 1.5em
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px
  background-color: #1a273f
  color: #768AA1
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2)
  background: url(../images/layout/bg.png) repeat

#skip-to-main-menu
  display: block
  position: absolute
  height: 0
  opacity: 0
  width: 0
  overflow: hidden

#wrapper
  position: relative
  min-height: 100%

#header
  border-top: 5px solid #121b2c
  //background: url(../images/layout/banner-bg.png) repeat-x;
  > div.container
    margin-bottom: 50px

#site-logo
  width: 187px
  height: 100px
  display: block
  margin: 27px 30px 0
  img
    width: auto
    height: 100px

#menu
  position: absolute
  right: 0
  top: 58px
  li
    display: inline-block
    a
      display: inline
      padding: 0.2em 19px 13px
      text-decoration: none
      font-family: Georgia, "Times New Roman", Times, serif
      font-size: 16px
      line-height: 2.5em
      text-shadow: 0px 1px 1px black
      -webkit-transition: all 0.2s linear
      &:hover, &:active
        color: white
      &.active
        font-weight: normal
        color: white
        padding-top: 100px
        background-color: #121b2c

#page-container
  padding-bottom: 270px

div.page
  position: relative
  margin-bottom: 100px
  &.light
    background: #e9f0f8 url(../images/layout/lens-flare-light.png) no-repeat

#sidebar
  position: absolute
  top: 0
  bottom: 0
  border-right: 1px solid rgba(0, 0, 0, 0.1)

#main-content
  float: right
  h1
    text-align: justify
    margin-bottom: 40px
    padding-bottom: 35px
    border-bottom: 1px solid #aeb8c5
    box-shadow: 0 1px 0px white
    color: #46647E
  h2
    color: #6297B5
    font-size: 22px
    margin-bottom: 5px
    line-height: 18px
    a
      color: #6297B5
      &:hover
        text-decoration: none
        color: #454953

#footer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  padding: 15px 0 30px
  border-top: 1px solid rgba(0, 0, 0, 0.3)
  color: #aeb9a7
  line-height: 1.5em
  h3
    color: #e1e2e4
    line-height: 1em
  a
    color: #aeb9a7
    &:hover, &:focus
      color: white
      text-decoration: none

#cnasp
  opacity: 0.7
  webkit-transition: all 150ms linear
  &:hover
    opacity: 1
