/*
 * Estilos de estrutura
 */

.container
  position: relative
  width: 960px
  margin-left: auto
  margin-right: auto

.row
  position: relative
  &.end-brief
    padding-bottom: 50px

.text
  padding: 50px 0

.box
  position: relative

.block
  float: left
  position: relative

.width-1
  width: 80px

.width-2
  width: 160px

.width-3
  width: 240px

.width-4
  width: 320px

.width-5
  width: 400px

.width-6
  width: 480px

.width-7
  width: 560px

.width-8
  width: 640px

.width-9
  width: 720px

.width-10
  width: 800px

.width-11
  width: 880px

.width-all
  width: 960px

.clarity
  padding: 40px
  &.none-top
    padding-top: 0px
  &.none-bottom
    padding-bottom: 0px
  &.none-right
    padding-right: 0px
  &.none-left
    padding-left: 0px
  &.less-top
    padding-top: 20px
  &.less-bottom
    padding-bottom: 20px
  &.less-right
    padding-right: 20px
  &.less-left
    padding-left: 20px
  &.extra-top
    padding-top: 60px
  &.extra-bottom
    padding-bottom: 60px
  &.extra-right
    padding-right: 60px
  &.extra-left
    padding-left: 60px

// larguras percentuais

.width-10perc
  width: 10%
  float: left

.width-15perc
  width: 15%
  float: left

.width-20perc
  width: 20%
  float: left

.width-25perc
  width: 25%
  float: left

.width-30perc
  width: 30%
  float: left

.width-35perc
  width: 35%
  float: left

.width-40perc
  width: 40%
  float: left

.width-45perc
  width: 45%
  float: left

.width-50perc
  width: 50%
  float: left

.width-55perc
  width: 55%
  float: left

.width-60perc
  width: 60%
  float: left

.width-65perc
  width: 65%
  float: left

.width-70perc
  width: 70%
  float: left

.width-75perc
  width: 75%
  float: left

.width-80perc
  width: 80%
  float: left

.width-85perc
  width: 85%
  float: left

.width-90perc
  width: 90%
  float: left

.width-95perc
  width: 95%
  float: left

.width-100perc
  width: 100%
  float: left
